In [1]:
# declare a variable
# variables are the containers used to store any datatypes
X=10

In [2]:
# print the variable
print(X)

10

In [3]:
# check the datatype of the variable
type(X)

int

In [5]:
# create an integer datatype
int_1=20

# show the datatype
print('datatype of the variable',type(int_1))

datatype of the variable <class 'int'>

In [7]:
# create an float datatype
float_1=20.38

# show the datatype
print('datatype of the variable',type(float_1))

datatype of the variable <class 'float'>

In [21]:
# create an string datatype
string_1='Gopal'

#show the datatype
print('datatype of the variable',type(string_1))

datatype of the variable <class 'str'>

In [23]:
# create an list datatype
list_1=[10,20,30,40]
list_2=[10.38,20.46,30.39,40.68]
list_3=['Gopal','Nirmal','Nandhini','Pooja']

#show the datatype
print('datatype of the variable',type(list_1))
print('datatype of the variable',type(list_2))
print('datatype of the variable',type(list_3))

datatype of the variable <class 'list'>
datatype of the variable <class 'list'>
datatype of the variable <class 'list'>

In [37]:
# create an tuple datatype
tuple_1=(10,20,30,40)
tuple_2=(10.38,20.46,30.39,40.68)
tuple_3=('Gopal','Nirmal','Nandhini','Pooja')

#show the datatype
print('datatype of the variable',type(tuple_1))
print('datatype of the variable',type(tuple_2))
print('datatype of the variable',type(tuple_3))

datatype of the variable <class 'tuple'>
datatype of the variable <class 'tuple'>
datatype of the variable <class 'tuple'>

In [39]:
# create an set datatype
set_1={10,20,30,40}
set_2={10.38,20.46,30.39,40.68}
set_3={'Gopal','Nirmal','Nandhini','Pooja'}

#show the datatype
print('datatype of the variable',type(set_1))
print('datatype of the variable',type(set_2))
print('datatype of the variable',type(set_3))

datatype of the variable <class 'set'>
datatype of the variable <class 'set'>
datatype of the variable <class 'set'>

In [41]:
# create an boolean datatype
boolean_1=True
boolean_2=False

#show the datatype
print('datatype of the variable',type(boolean_1))
print('datatype of the variable',type(boolean_2))

datatype of the variable <class 'bool'>
datatype of the variable <class 'bool'>

In [47]:
#create an dictionary datatype
dictionary_1={'list_1':[10,20,30,40],
              'tuple_1':(10,20,30,40),
              'set_1':
              {10,20,30,40}}

#show the datatype
print('datatype of the variable',type(dictionary_1))

datatype of the variable <class 'dict'>

# basic operations

In [50]:
# Task 1:Type casting
float_2=45.96

# show the datatype
print('datatype of the variable',type(float_2))

#typecasting
int_2=int(float_2)

#show the datatype
print('datatype of the variable',type(int_2))

datatype of the variable <class 'float'>
datatype of the variable <class 'int'>

In [52]:
# Task 1:Type casting(int to float)
int_3=5

# show the datatype
print('datatype of the variable',type(int_3))

#typecasting
float_3=float(int_3)

#show the datatype
print('datatype of the variable',type(float_3))

datatype of the variable <class 'int'>
datatype of the variable <class 'float'>

In [54]:
# Task 2:Use of round function
float_4=10.1234567890

#Round this value till 3 deciamal places
rounded_value=round(float_4,3)

#show the output
print('Rounded value are:',rounded_value)

Rounded value are: 10.123

# Arithmetic Operations on a data

In [1]:
# Addition operation
# declare the variable
a=10
b=20

#perform the sum
sum_1=a+b

#show the output
print('Addition of two variables:',sum_1)

Addition of two variables: 30

In [3]:
# Subraction operation
#declare the variable
a=10
b=20

#perform the sub
sub_1=a-b

#show the output
print('Subraction of two variables:',sub_1)

Subraction of two variables: -10

In [5]:
# Multiplecation operation
#declare the variable
a=10
b=20

#perform the mul
mul_1=a*b

#show the output
print('Multiplecation of two variables:',mul_1)

Multiplecation of two variables: 200

In [8]:
# Division operation
#declare the variable
a=10
b=20

#perform the div
div_1=a/b

#show the output
print('Division of two variables:',div_1)

Division of two variables: 0.5

# User defined function

In [10]:
# declare the function named as 'summation',who can perform the addition in two numbers
def summation():
    x=10
    y=20
    summation=x+y
    return summation

# call the function
summation()

30

In [12]:
# declare the function named as 'subtraction',
# who can perform this subtraction between two variables
def subtraction(x,y):
    subtraction=x-y
    return subtraction 

#call the function
subtraction(10,20)

-10

In [14]:
# declare the function named as 'multiplication',
# who can perform this multiplication between two variables
# this time you need to take input from the user

# Take the input from the user
var_2=int(input('Give the first number:'))
var_3=int(input('Give the second number:'))

#Make the user defined function
def multiplication (var_2,var_3):
    mul=var_2*var_3
    return mul

#call the function
multiplication(var_2,var_3)

Give the first number: 10
Give the second number: 20

200